.sidebar {
  width: 250px;
  background-color: #f4f6f8;
  height: calc(100vh - 61px); /* Ocupa a tela toda menos o Header */
  border-right: 1px solid #ddd;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li a {
  display: block;
  padding: 20px 30px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #e9ecef;
}
.sidebar li a:hover, .sidebar li a.ativo {
  background-color: #e2e8f0;
  color: #0056b3;
  border-left: 5px solid #0056b3;
}